.container{
    margin: 0 auto 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
}

.image{
    max-width: 250px;
}

mat-card{
    background-color: #7B1FA2;
    border: 1px solid black;
    color: #fff;
    margin-right: 20px;
}

.product-button{
    background-color: #fff;
    color: #000;
    margin-right: 5px;
}

.example-spacer{
    flex: 1 1 auto;
}