label.checkbox {
    cursor: pointer;
    user-select: none;
}

label.checkbox [type=checkbox] {
    display: none;
}

.checkbox_svg {
    width: 40px;
}

.checkbox_line {
    fill: none;
    stroke: #F00;
    stroke-width: 20;
    stroke-miterlimit: 10;
    stroke-dasharray: 0, 154;
}

.checkbox [type=checkbox]:checked + .checkbox_svg .checkbox_line {
    animation: checked 0.4s ease 1 forwards;
}

@keyframes checked {
    from {
        stroke-dasharray: 0, 154;
    }
    to {
        stroke-dasharray: 140, 154;
    }
}