.nextWord {
  display: block;
  margin: 5px auto;
}

.nextWord {
  position: relative;
  background-color: #4caf50;
  border: none;
  font-size: 28px;
  color: #ffffff;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.nextWord:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.nextWord:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.card {
  display: block;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  width: 320px;
}
.eng,
.ukr {
  display: block;
  margin: 0 auto;
}

.card-words {
  height: 150px;
}
iframe {
  display: block;
  margin: 0 auto;
}

.true {
  background-color: green;
}

.false {
  background-color: brown;
}

.activeBtn {
  background-color: #4caf50;
}

.navigation {
  text-decoration: none;
  list-style: none;
  color: black;
  font-size: 20px;
  padding: 15px;
  border-radius: 10px;
}

.tfBtns,
.text_a {
  text-decoration: none;
  list-style: none;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  padding: 5px;
  background-color: coral;
  font-size: 18px;
}

input[type="submit"],
input[type="button"] {
  background-color: coral;
  font-size: 18px;
  padding: 5px;
  margin: 10px 0 10px 0;
  border-radius: 10px;
  cursor: pointer;
}

input[type="text"] {
  /* border: none;
  border-bottom: 1px solid #000000; */

  margin-top: 0.5rem;
  padding: 2px;
  /* background-color: hsl(0, 0%, 94%); */
  /* border: 1px solid hsl(0, 0%, 80%); */
  border-radius: 10px;
  color: inherit;
  font-family: inherit;
  transition: box-shadow 0.3s ease;
}

.parent {
  display: flex;
  align-items: center;
}

/* Burger Menu */

header {
  display: flex;
  justify-content: flex-end;
}

/* Burger icon */
.menu-btn {
  width: 30px;
  height: 30px;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

.menu-btn span {
  width: 30px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #222222;
  transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
  top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
  top: calc(50% + 5px);
}

/* Changing the hamburger icon when the menu is open */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg);
}

/* Menu that will appear */
.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background: #ffefba;
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.menu.active {
  transform: translateX(0);
}

.menu li {
  list-style-type: none;
}

.burger {
  margin-left: auto;
  display: none;
}

.hidden {
  display: none;
}

/* Medi */

@media screen and (max-width: 600px) {
  .burger {
    display: block;
  }
  .main {
    display: none;
  }
}
